html {
	background: linear-gradient(to bottom right, #003073, #029797) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* width: 100%;
	height: 100%; */
}

body {
	/* background-color: #193c6d;
	filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
	background-size: 100%;
	background-image: -webkit-gradient(
		linear,
		0 0,
		100% 100%,
		color-stop(0, #003073),
		color-stop(100%, #029797)
	);
	background-image: -webkit-linear-gradient(135deg, #003073, #029797);
	background-image: -moz-linear-gradient(45deg, #003073, #029797);
	background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
	background-image: -o-linear-gradient(45deg, #003073, #029797);
	background-image: linear-gradient(135deg, #003073, #029797); */

	/* height: 100%; */
	/* background-size: cover;
	background-image: linear-gradient(to bottom right, #003073, #029797);
	margin: 0px;
	background-repeat: no-repeat; */
	/* overflow: hidden; */
}

/* .bg {
	position: static;
	z-index: -2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right, #003073, #029797);
} */

p {
	margin: 0;
}

a {
	color: darkblue;
	text-decoration: none;
	text-weight: bold;
}

#root {
	/* position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0; */
}

@media screen and (max-width: 1200px) {
	#dotWaveBg canvas {
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	html {
		height: 100%;
	}
}

#dotWaveBg canvas {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.btn {
	background-color: grey;
	border: none;
	outline: none;
	border-radius: 4;
	padding: 8;
}

.navButton {
	background-color: white;
	transition: transform 0.15s ease-in-out;
}

.navButton:hover {
	background-color: rgba(20, 240, 190, 1) !important;
	cursor: pointer;
	color: white;
	transform: scale(1.1);
}

input,
textarea {
	color: rgb(73, 73, 73) !important;
	background-color: rgb(240, 240, 240) !important;
	border-radius: 4px !important;
	border: none;
	font-size: 1rem;
	font-weight: bold;
	padding: 8px;
	resize: none;
	outline: none;
}

.validInput {
	background-color: aquamarine !important;
}

.wrongInput {
	background-color: indianred !important;
}

.input-range__track--active {
	background: rgba(20, 240, 190, 1) !important;
}

.input-range__slider {
	background: rgba(20, 240, 190, 1) !important;
	border: 1px solid rgba(20, 240, 190, 1) !important;
}

.DayPickerInput input {
	width: 100% !important;
	min-width: 120px;
	max-width: 135px !important;
}

.rc-time-picker-input {
	border: none !important;
	text-align: center;
	height: 100%;
}

.rc-time-picker-panel-input {
	padding: 5 !important;
	text-align: center;
}

.rc-time-picker-panel-input-wrap {
	/* background-color: rgb(240, 240, 240) !important; */
	padding: 1 !important;
}

label {
	display: flex;
	flex-direction: column;
}

.submitBtn {
	background-color: rgba(20, 240, 190, 1);
	color: white;
	height: 45px !important;
	border: none;
	outline: none;
	border-radius: 6px;
	font-weight: bold;
	font-size: 1.3rem;
}

.submitBtn:hover {
	cursor: pointer;
	webkitboxshadow: 0px 0px 15px 4px rgba(20, 240, 190, 0.5);
	mozboxshadow: 0px 0px 15px 4px rgba(20, 240, 190, 0.5);
	boxshadow: 0px 0px 15px 4px rgba(20, 240, 190, 0.5);
	shadowcolor: rgba(20, 240, 190, 0.5);
	shadow-radius: 6px;
	shadow-opacity: 1;
	shadow-offset: 1, 6;
	elevation: 6;
}

.cancelBtn {
	border: none;
	margin: 0;
	outline: none;
	border-image-width: 0;
	background-color: rgba(20, 240, 190, 0);
}
.cancelBtn:hover {
	background-color: rgba(255, 50, 110, 0.5);
	color: white;
	cursor: pointer;
}

.grow {
	transition: all 0.15s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.noScrollBar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
	overflow-x: visible !important;
}
.noScrollBar::-webkit-scrollbar {
	display: none;
}

.logo {
	transition: ease-in;
	background-color: rgba(20, 240, 190, 0);
}

input[type="range"].greenRange {
	-webkit-appearance: none;
	width: 100%;
	margin: 8.6px 0;
}
input[type="range"].greenRange:focus {
	outline: none;
}
input[type="range"].greenRange::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: #eff0f0;
	border-radius: 25px;
	border: 0px solid rgba(0, 0, 1, 0);
}
input[type="range"].greenRange::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	border: 2.5px solid #14f0be;
	height: 23px;
	width: 23px;
	border-radius: 12px;
	background: #14f0be;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8.6px;
}
input[type="range"].greenRange:focus::-webkit-slider-runnable-track {
	background: #fcfcfc;
}
input[type="range"].greenRange::-moz-range-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: #eff0f0;
	border-radius: 25px;
	border: 0px solid rgba(0, 0, 1, 0);
}
input[type="range"].greenRange::-moz-range-thumb {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	border: 2.5px solid #14f0be;
	height: 23px;
	width: 23px;
	border-radius: 12px;
	background: #14f0be;
	cursor: pointer;
}
input[type="range"].greenRange::-ms-track {
	width: 100%;
	height: 5.8px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"].greenRange::-ms-fill-lower {
	background: #e2e4e4;
	border: 0px solid rgba(0, 0, 1, 0);
	border-radius: 50px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"].greenRange::-ms-fill-upper {
	background: #eff0f0;
	border: 0px solid rgba(0, 0, 1, 0);
	border-radius: 50px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type="range"].greenRange::-ms-thumb {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	border: 2.5px solid #14f0be;
	height: 23px;
	width: 23px;
	border-radius: 12px;
	background: #14f0be;
	cursor: pointer;
	height: 5.8px;
}
input[type="range"].greenRange:focus::-ms-fill-lower {
	background: #eff0f0;
}
input[type="range"].greenRange:focus::-ms-fill-upper {
	background: #fcfcfc;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	opacity: 1;
}
